<html ng-app="societyProChatApp">
<head>
    <title>SocietyPro Chat</title>

    <link rel="stylesheet" type="text/css" href="web/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="web/styles/dropdown-collections.css">
    <link rel="stylesheet" type="text/css" href="web/styles/society-pro-chat.css">

    <script type="text/javascript" src="web/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="web/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="web/bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="web/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="web/bower_components/angular-material/angular-material.js"></script>
    <script src="web/js/components/global/global.js"></script>
    <script src="web/js/components/directives/directives.js"></script>
    <script src="web/js/components/controllers/mainController.js"></script>
    <script src="web/js/components/controllers/stageController.js"></script>
    <script src="web/js/app.js"></script>
</head>
<body ng-controller="mainController" layout="column" layout-fill>
  <md-toolbar layout="row">
      <span flex></span>
      <div class="role-selection" ng-click="showRoles=!showRoles" layout="row" layout-align="center center">
        <img ng-src="{{currentRole.img}}" width="36" height="36" alt="role-icon">
        <span>{{currentRole.name}}</span>
        <img src="web/images/role-arrow.png" width="10" height="5" alt="arrow-role"/>
      </div>
      <div class="sopro-role-panel" layout="column" ng-show="showRoles">
        <img class="sopro-arrow-role-panel" src="web/images/arrow-role-panel.png" alt="role-pannel-arrow">
        <span class="sopro-role-panel-title">ROLES</span>
        <div class="sopro-role-item" ng-class="{'sp-w-b':$last}" layout="row" layout-align="start center" ng-repeat="role in roles" ng-click="changeRole(role)">
          <img class="sopro-img-role-panel" ng-src="{{role.img}}" width="35" height="35" alt="role-icon">
          <span class="sopro-role-name">{{role.name}}</span>
        </div>
    </div>
  </md-toolbar>
  <div class="sopro-main-content" flex layout="row">
    <aside id="sopro-channel-wrap">
      <collection id="collection-channels" channel-title="CHANNELS" icon="web/images/icon-channels.png" repeater="channels">
        <span id="collection-channels-create" class="collection-create-link">+ Add Channel</span>
      </collection>
      <collection id="collection-peers" channelTitle="PEERS" icon="web/images/icon-peers.png" repeater="peers">
        <span id="collection-peers-create" class="collection-create-link">+ Add Peer</span>
      </collection>
    </aside>
    <md-content flex layout="row" layout-wrap id="main-stage" ng-controller="stageController">
      <ng-include layout="column" flex="50" flex-sm="100" ng-repeat="card in stageCards" src="card.template"></ng-include>
    </md-content>
  </div>
</body>
</html>