        <md-content class="messages-container ng-scope md-default-theme" id="messages-container" layout="column" layout-align="end start" flex >
          <ng-include 
          src="'web/partials/oneTextMessage.html'" 
          ng-repeat="message in messages | orderBy:sortByTs"
          scroll-to-last 
          class="ng-scope stretch"
          ></ng-include>
        </md-content>
        <div class="footer">
          <div class="mentions"></div>
          <div class="footer-inner">
            <div class="options-container">
              <md-button class="options-trigger"></md-button>
              <div class="dropdown-options">
                <input type="file" name="file" id="file" hide>
                </input>
                <label for="file" class="upload"><span></span>Upload a File</label>
              </div>
            </div>
            <form id="message-form" onSubmit="">
              <textarea
                id="message-input"
                ng-trim="true"
                ng-model="currentInput"
              ></textarea>
                <!-- 
                We used this in angular to detect enter press
                ng-keypress="handleCardInputKeypress($event)"
                Todo: Use angular events everywhere
                A second attempt:
                elem-ready="$scope.bindJquery()"
                -->
            </form>
            <div class="emoticon-container">
              <button class="emoticon-trigger"></button>
              <div class="dropdown-emoticon" ng-controller="emoticonsCtrl">
                <div class="tabs-container" ng-if="showEmoticons">
                  <ul class="tabs-menu">
                    <li ng-class="{current:emoticonTab==0}"><a ng-click="changeTab(0)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_grinning.png"/></a></li>
                    <li ng-class="{current:emoticonTab==1}"><a ng-click="changeTab(1)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_rat.png"/></a></li>
                    <li ng-class="{current:emoticonTab==2}"><a ng-click="changeTab(2)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_hamburger.png"/></a></li>
                    <li ng-class="{current:emoticonTab==3}"><a ng-click="changeTab(3)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_sunny.png"/></a></li>
                    <li ng-class="{current:emoticonTab==4}"><a ng-click="changeTab(4)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_kiss.png"/></a></li>
                    <li ng-class="{current:emoticonTab==5}"><a ng-click="changeTab(5)"><img src="web/bower_components/angular-emoji-filter/res/emoji/emoji_rocket.png"/></a></li>
                  </ul>
                  <div class="tab"> 
                    <span ng-show="emoticonTab==0" ng-repeat="emoticon in arrayEmoticons1" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                    <span ng-show="emoticonTab==1" ng-repeat="emoticon in arrayEmoticons2" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                    <span ng-show="emoticonTab==2" ng-repeat="emoticon in arrayEmoticons3" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                    <span ng-show="emoticonTab==3" ng-repeat="emoticon in arrayEmoticons4" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                    <span ng-show="emoticonTab==4" ng-repeat="emoticon in arrayEmoticons5" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                    <span ng-show="emoticonTab==5" ng-repeat="emoticon in arrayEmoticons6" ng-click="change(emoticon)" ng-mouseover="hover(emoticon)"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+emoticon+'.png'}}"></img></span> 
                  </div>
                </div>
                <div class="icon-preview"><img ng-src="{{'web/bower_components/angular-emoji-filter/res/emoji/emoji_'+currentEmoticon+'.png'}}"/>:{{currentEmoticon}}:</div>
              </div>
            </div>
          </div>
        </div>

<!--
<md-card flex layout="column" class="sopro-card channel-card" ng-controller="historyCardController">
  <header layout="row" layout-align="start center">
    <span class="title">{{card.channel.name}}</span>
    <span flex></span>
    <span class="x-button" ng-click="cancelClicked($index)"><img src="web/images/icon-close.png"/></span>
  </header>
-->
  <!--
  <md-content flex layout="column" class="card-content">
    <ul >
      <li
        ng-repeat="message in messages | orderBy:sortByTs"
        scroll-to-last
      > {{message.text}} </li>
    </ul>
  </md-content>
  <footer layout="row">
    <input
      flex
      type="text"
      class="channel-card-input"
      placeholder="Message..."
      ng-model="currentInput"
      ng-keypress="handleCardInputKeypress($event)"
    />
  </footer>
  -->
<!--
 </md-card>
 -->
