<div class="channel-collection" layout="column">
  <div class="sopro-channel-title" layout="row" layout-align="start center">
    <img ng-src="{{icon}}" alt="channel-icon">
    <span>{{title}}</span>
  </div>
  <ul>
      <li layout="column" layout-align="center start" ng-click="createChannel()" ng-transclude></li>
      <li class="channel-item" ng-class="{'channel-separator':$last && repeater.length <= maxChannels}" ng-repeat="item in repeater" ng-if="$index+1 <= maxChannels" layout="column" layout-align="center start">
        <span>{{item.name}}</span>
      </li>
      <li ng-show="repeater.length > maxChannels" class="sopro-config-collection-link" ng-class="{'channel-separator':repeater.length > maxChannels}"layout="column" layout-align="center start">
        <span class="sopro-more-channels" ng-click="openOverflow($event)">+{{repeater.length - maxChannels}} more...</span>
      </li>
  </ul>
</div>
{{showOverflow}}
<sopro-dropdown ng-if="showOverflow" from-element="fromElement" dropdown-title="{{title}}" type="overflow"></sopro-dropdown>