<div class="channel-collection" layout="column">
  <div class="sopro-channel-title" id="collection-title-channels" layout="row" layout-align="start center">
    <img ng-src="{{icon}}" alt="channel-icon">
    <span>{{title}}</span>
  </div>
  <ul>
      <li class="channel-item" ng-repeat="item in repeater" ng-if="$index+1 <= 2" layout="column" layout-align="center start">
        <span>{{item.name}}</span>
      </li>
      <li ng-show="repeater.length > 2" ng-click="showOverflow = !showOverflow" class="sopro-config-collection-link" layout="column" layout-align="center start">
        <span class="sopro-more-channels">+{{repeater.length - 2}} more...</span>
      </li>
  </ul>
</div>
<div class="sopro-channels-overflow" ng-show="showOverflow">
      <img class="sopro-arrow-overflow-dropdown" src="web/images/arrow-overflow-dropdown.png" width="10" height="18" alt="role-panel-arrow">
      <div id="sopro-dropdown-collection-wrap" layout="column">
        <div class="sopro-dropdown-title"><p>{{title}}</p></div>
        <div class="sopro-ul-scroll" flex>
          <ul>
            <li ng-repeat="channelOverflow in repeater"><span>{{channelOverflow.name}}</span></li>
          </ul>
        </div>
        </div>
      </div>