<md-card flex layout="column" class="sopro-card creation-card" id="card-create-channel">
  <header layout="row" layout-align="start center">
    <span class="title" >Create a channel</span>
    <span flex></span>
    <span class="x-button" ng-click="cancelClicked()">X</span>
  </header>
  <md-content flex layout="column" class="card-content">
    <input type="text" class="title" placeholder="Channel Title"
           ng-model="stageCards[$index].creationTitle">
    <textarea placeholder="Channel Description" ng-model="stageCards[$index].creationDesc" class="channel-description"></textarea>
  </md-content>
  <footer layout="row" layout-align="start center">
    <span flex></span>
    <md-button class="cancel-button" ng-click="cancelClicked()">CANCEL</md-button>
    <md-button class="create-button" ng-click="createClicked($index)">CREATE</md-button>
  </footer>
 </md-card>