<div class="sopro-dropdown">
  <img class="sopro-arrow-overflow-dropdown" src="web/images/arrow-overflow-dropdown.png" width="10" height="18" alt="role-panel-arrow">
  <div class="sopro-dropdown-collection-wrap" layout="column">
    <div class="sopro-dropdown-title"><p>{{dropdownTitle}}</p></div>
    <div class="sopro-ul-scroll noselect" flex>
      <ul>
        <li
        class="dropdown-item"
        ng-repeat="item in repeater"
        sglclick="openCardHistory($event, item)"
        ng-dblclick="openSubscribersOverflow($event, item, dropdownTitle)"
        ng-init="lastToRender($last)"
        >
          {{item.name}}
        </li>
      </ul>
    </div>
  </div>
</div>