/*  TOOLBAR  */

body > md-toolbar {
  background-color: #969696 !important;
}

/* --- Role Selection */
.role-selection {
  margin: 0px 15px;
  cursor: pointer;
}
.role-selection > * {
  margin: 5px;
  font-size: 13px;
}
.sopro-role-panel{
  top: 50px;
  position: absolute;
  right: -10px;
  background: #ffffff;
  width: 228px;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  margin: 15px 10px 0 0;
  float: right;
  padding: 20px 0px 10px 0px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.47);
  -moz-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.47);
  box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.47);
}
.sopro-arrow-role-panel{
  position: absolute;
  top: -10px;
  right: 13px;
}
.sopro-role-panel-title {
  color: #555459; 
  font-size: 10px; 
  text-transform: uppercase;
  padding: 0px 10px 0px 20px;
}
.sopro-role-item{
  height: 55px;
  border-bottom: 1px solid #cdcdcd;
  padding: 0px 10px 0px 20px;
  cursor: pointer;
}
.sopro-role-item:last-child{
  border-bottom: none;
}
.sopro-role-name {
  margin: 10px;
  color: #555459;
  font-size: 10px;
}

/* MAIN CONTENT*/
.sopro-main-content{
  background: #E9ECF2;
}

collection {
  position: relative;
  margin-top: 20px;
}

/* Channel Collections */
#sopro-channel-wrap{
  background-color: white;
  width: 185px;
  margin: 20px 16px;
  border-radius: 2px;
  padding-bottom: 20px;
}
.sopro-channel-title{
  height: 32px;
  font-size: 13px;
  padding: 0px 16px;
  color: rgba(85, 84, 89, 1); 
  font-weight: bold;
}
.sopro-channel-title > span{
  margin: 5px;
  text-transform: uppercase;
}
#sopro-channel-wrap ul li {
  height: 32px;
  font-size: 15px;
  padding-left: 38px;
  margin-right: 16px;
  color: rgba(85, 84, 89, 1);
  cursor: pointer;
}
#sopro-channel-wrap ul li:hover {
  background-color: rgba(131, 131, 131, 1); 
  color: rgba(204, 204, 204, 1);
}
#sopro-channel-wrap ul li.channel-separator {
  border-bottom: 1px solid rgba(131,131,131,0.5);
}
#sopro-channel-wrap ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sopro-more-channels {
  font-size: 13px;
  cursor: pointer;
}

/* Channels Overflow */
.sopro-channels-overflow {
  position: absolute;
  left: 210px;
  bottom: -200px;
  background: white;
}
