body {
  background: #E9ECF2;
}

/*  TOOLBAR  */

body > md-toolbar {
  background-color: #969696 !important;
}

/* --- Role Selection */
.role-selection {
  margin: 0px 15px;
  cursor: pointer;
}
.role-selection > * {
  margin: 5px;
  font-size: 13px;
}
.sopro-role-panel{
  top: 50px;
  position: absolute;
  right: -10px;
  background: #ffffff;
  width: 228px;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  margin: 15px 10px 0 0;
  float: right;
  padding: 20px 0px 10px 0px;
}
.sopro-arrow-role-panel{
  position: fixed;
}
.sopro-role-panel-title {
  color: #555459; 
  font-size: 10px; 
  text-transform: uppercase;
  padding: 0px 10px 0px 20px;
}
.sopro-role-item{
  height: 55px;
  border-bottom: 1px solid #cdcdcd;
  padding: 0px 10px 0px 20px;
  cursor: pointer;
}
.sopro-role-item:last-child{
  border-bottom: none;
}
.sopro-role-name {
  margin: 10px;
  color: #555459;
  font-size: 10px;
}

/* MAIN CONTENT*/
.sopro-main-content{
  margin: 20px 16px;
  height: inherit;
  overflow: hidden;
}

collection {
  position: relative;
  margin-top: 20px;
}

/* Channel Collections */
#sopro-collections-wrap{
  background-color: white;
  width: 188px;
  padding: 20px 16px;
  margin: 0;
  border-radius: 2px;
  position: relative;
}
.sopro-collection-title{
  height: 32px;
  font-size: 13px;
  padding: 0px 16px;
  color: rgba(85, 84, 89, 1);
  font-weight: bold;
}
.sopro-collection-title > span{
  margin: 5px;
  text-transform: uppercase;
}
#sopro-collections-wrap ul li {
  height: 32px;
  font-size: 15px;
  padding-left: 40px;
  margin-right: 20px;
  color: rgba(85, 84, 89, 1);
  cursor: pointer !important;
}
#sopro-collections-wrap ul li.channel-item:hover {
  background-color: rgba(131, 131, 131, 1);
  color: rgba(204, 204, 204, 1);
}
#sopro-collections-wrap ul li.channel-separator {
  border-bottom: 1px solid rgba(131,131,131,0.5);
}
#sopro-collections-wrap ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sopro-more-channels {
  font-size: 13px !important;
}

.collection-create-link{
  font-style: italic;
}

#main-stage {
  background-color: inherit;
}

/*   Sopro Cards */
.sopro-card {
  max-height: 270px;
  min-height: 270px;
  margin: 0px 8px 8px 8px;
  background-color: white;
  box-shadow: none;
}
.sopro-card header{
  height: 50px;
  border-bottom: 1px solid #eaedf1;
}
.sopro-card header .title{
  margin: 15px 16px;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sopro-card header .x-button{
  margin: 15px 16px;
  font-size: 18px;
  cursor: pointer;
}
.sopro-card .card-content{
  padding: 16px;
}
.sopro-card .card-content .title{
  height: 40px;
   font-size: 12px; 
   border: 1px solid #eaedf1; 
   border-radius: 2px; 
   padding: 14px 10px; 
   margin-top: 3px;
}
.sopro-card .card-content .channel-description {
  height: 80px;
   font-size: 12px; 
   border: 1px solid #eaedf1; 
   border-radius: 2px; 
   padding: 14px 10px;
   margin: 10px 0px;
   resize: none;
}
.sopro-card footer{
  height: 50px;
  padding: 0px 16px;
  border-top: 1px solid #eaedf1;
}
.sopro-card footer md-button{
  font-size: 14px; 
  color: #555459;
}


/* DROPDOWNS */

.sopro-arrow-overflow-dropdown{
    position: fixed;
    z-index: 1;
}

.sopro-dropdown-collection-wrap{
    position: relative;
    width: 186px;
    padding:20px;
}

sopro-collections-dropdown, sopro-subscribers-dropdown {
  position: fixed;
  background: white;
}

sopro-collections-dropdown{
  z-index: 5;
}

sopro-subscribers-dropdown{
  z-index: 10;
}

.dropdown-item{

}

.sopro-dropdown-collection-wrap .dropdown-item {
    max-width: 9em;
    white-space: nowrap;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    font-size: 15px;
    padding-left: 20px;
    margin-left: -20px;
    height: 30px;
    line-height: 30px;
}


/* FROM CALIX */
.sopro-ul-scroll{
    overflow-y: auto;
    /*
    overflow-x: hidden;
    */
}


.sopro-dropdown-collection-wrap ul {
   list-style: none;
   margin:  0px;
   padding: 0px;    
}


.sopro-dropdown-collection-wrap li:hover {
   background: #838383;
   cursor: pointer;
   color: #cccccc;
}

.sopro-dropdown-collection-wrap a {
   cursor: pointer;
}


/*
.sopro-dropdown-collection-wrap ul li a span {
    position: absolute;
    margin: -2px 0 0 0;    
}
*/
.sopro-dropdown-title{
    height: 20px;
    font-size: 13px;
    color: #555459;
}
.sopro-dropdown-title p{
    font-size: 10px;
    margin: 0;
}


.ps-scrollbar-y-rail{
    background:rgba(234, 237, 241,1) !important;
}

.ps-scrollbar-y{
    background: rgba(205, 205, 208,1) !important;
    border: 1px rgba(255,255,255,1) solid;
}